  <div class="container">
    <div class="row">

                <% _.each(articles, function (article) { %>
                  <div class="col-lg-12 text-center post" uid="<%=article.uid%>">
                          <img class="img-responsive img-full"
                          src= "<%=(article.image)? article.image:'images/submarine.png'%>"
                          alt="">
                          <div class="title"><h3><%=article.title%></h3></div>
                          <div class="box">
                            <h5><%=ArticleService. getDate(article.updatedAt)%></h5>
                            <p><%=article.description%></p>
                            <a href="<%=article.url%>" target="_blank" class="btn btn-default btn-lg">Leer más</a>
                           </div>
                      <div class="social-bar" >
                            <div class="section-btn" uid-post="<%=article.uid%>">
                              <a class="btn btn-lg" type="like"><img src="icons/thumb.png" /></a>
                            <a href="#" type="share" class="btn btn-lg"><img src="icons/share.png" /></a>
                            </div>
                      </div>
                  </div>
                <% }) %>

            <div class="col-lg-12 text-center">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next"><a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>

    </div>

  </div>
    <!-- /.container -->

<script type="text/javascript">

  $('.btn[type="like"]').click(function(e){
   // console.log($('.btn[type="like"]'));
     e.preventDefault();
   console.log("Like");
   console.log($(this).parent().attr('uid-post'));
  });
  $('.btn[type="share"]').click(function(e){
   // console.log($('.btn[type="like"]'));
     e.preventDefault();
   console.log("Share");
  });


</script>
