  <div class="container">
    <div class="row">

                <% _.each(articles, function (article) { %>
                  <div class="col-lg-12 text-center post" uid="<%=article.uid%>">
                          <a href="<%=article.url%>" target="_blank">
                          <img id="image" class="img-responsive img-full"
                          <% var image = article.image.replace('httpx:','')%>
                          src= "<%=(image)? image.concat('?resize=800,263'):'images/submarine.png'%>"
                          alt="<%=article.title%>">
                          </a>
                          <div id="title" class="title"><h3><%=article.title%></h3></div>
                          <div class="box">
                            <h5><%=ArticleService. getDate(article.updatedAt)%></h5>
                            <p id="description"><%=article.description%></p>
                            <a id="url" href="<%=article.url%>" target="_blank" class="btn btn-default btn-lg">Leer más</a>
                           </div>
                      <div class="social-bar" >
                            <div class="section-btn" uid-post="<%=article.uid%>">
                              <a class="btn btn-default btn-lg" type="like"><img src="icons/thumb.png" /></a>
                              <a class="btn btn-lg" type="dislike"><img src="icons/thumb-down.png" /></a>
                            <a href="#" type="share" class="btn btn-lg"><img src="icons/share.png" /></a>
                            </div>
                      </div>
                  </div>
                <% }) %>

            <div class="col-lg-12 text-center">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next"><a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>

    </div>

  </div>
    <!-- /.container -->

<script type="text/javascript">

  $('.btn[type="like"]').click(function(e){
   // console.log($('.btn[type="like"]'));
     e.preventDefault();
    console.log("Like");
    var uid = $(this).parent().attr('uid-post');
    postLikeByUID(uid,function(response){
       console.log(response);
    });

  });

    $('.btn[type="dislike"]').click(function(e){
   // console.log($('.btn[type="like"]'));
     e.preventDefault();
    console.log("DisLike");
    var uid = $(this).parent().attr('uid-post');
    delLikeByUID(uid,function(response){
       console.log(response);
    });

  });

  $('.btn[type="share"]').click(function(e){
   // console.log($('.btn[type="like"]'));
     e.preventDefault();
    var articleUID = $(this).parent().attr('uid-post');
    console.log("Share");
    setShare(articleUID);
  });

function getArticuloOG(articleUID){

var stringUID = ('[uid=$uid]').replace('$uid',articleUID) ;
var article ={
  url:$(stringUID).find('#url').attr('href'),
  title:$(stringUID).find('#title').text(),
  // image:('https:').concat($(stringUID).find('#image').attr('src')),
  image:$(stringUID).find('#image').attr('src').concat('?resize=290,137'),
  description:$(stringUID).find('#description').text(),
};

        var articleObj= {
                'og:url': article.url,
                'og:title': article.title,
                'og:type': 'master-sigma:articulo',
                'og:image': article.image ,
                'og:description': article.description,
                'master-sigma:description': article.description,
              };

console.log(article);
console.log(articleObj);
        return articleObj;
}

function setShare(articleUID){
  FB.ui({
    method: 'share_open_graph',
    action_type: 'master-sigma:recomienda',
    action_properties: JSON.stringify({
      'uid': articleUID,
      'articulo': getArticuloOG(articleUID)
    })
  }, function(response){
    // Debug response (optional)
    console.log(response);
  });
}

function delLikeByUID(uid,callback)
{
      var ajaxQuery =
        $.ajax({
        url: '/article/delLike',
        method: 'DELETE',
        contentType: 'application/json',
        processData: false,
          data: JSON.stringify({
            'name':'uid',
            'uid':uid
          }),
          // success: function(data) {
          //     console.log (JSON.stringify(data));
          // },
          // failure: function(msg) {
          //     console.log("Fail : " + msg);
          // },
          // error: function(xhr, status, text) {
          //    console.log(text);
          // }
        });

        ajaxQuery.done(function(response){
            if(response.error){
              console.log(response.error);
            }else{
              callback(response);
            }
        });
};



  function postLikeByUID(uid,callback)
  {

      var ajaxQuery =
        $.ajax({
        url: '/article/setLike',
        method: 'POST',
        contentType: 'application/json',
        processData: false,
          data: JSON.stringify({
            'name':'uid',
            'uid':uid
          }),
          // success: function(data) {
          //     console.log (JSON.stringify(data));
          // },
          // failure: function(msg) {
          //     console.log("Fail : " + msg);
          // },
          // error: function(xhr, status, text) {
          //    console.log(text);
          // }
        });

        ajaxQuery.done(function(response){
            if(response.error){
              console.log(response.error);
            }else{
              callback(response);
            }
        });
  };

  function setTestID(uid)
  {

        $.ajax({
        url: '/article/testID',
        method: 'POST',
        contentType: 'application/json',
        processData: false,
          data: JSON.stringify({
           'id':"Alfa"
          }),
          success: function(data) {
              return JSON.stringify(data);
          },
          failure: function(msg) {
              alert("Fail : " + msg);
          },
          error: function(xhr, status, text) {
              console.log(text);
          }
        });
  };
  //setTestID();
/*    $.ajax({
        url: '/article/test', //the URL to your node.js server that has data
        dataType: 'json',
        type:'POST'
    }).done(function(data){
        //"data" will be JSON. Do what you want with it.
        console.log("Delta");
        console.log(data);
    }).error(function(err){
        console.log(err);
    });
*/

// $.ajax({
//     url: '/article/test',
//     method: 'POST',

//     // Tell the server we're sending JSON--not strictly necessary with Sails,
//     // but recommended.
//     contentType: 'application/json',

//     // Don't URLencode data
//     processData: false,

//     // Stringify the data--otherwise it will send "[object object]"
//     // data: JSON.stringify({
//     //     id: $("a#identity-edit").attr("data-id"),
//     //     name: 'myNewName'
//     //  }),

//     success: function(data) {
//         // window.location('/character/show/'+$("a#identity-edit").attr("data-id"));
//         //
//         console.log(JSON.stringify(data));
//     },
//     failure: function(msg) {
//         alert("Fail : " + msg);
//     },
//     error: function(xhr, status, text) {
//         alert(text);
//         var response = jQuery.parseJSON(xhr, responseText);
//         alert(response.error);
//     }
// });


</script>
